body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

h1 {
  margin-bottom: 1.4rem;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  width: 70rem;
  border: 0.1rem solid rgb(208, 199, 199);
  border-radius: 0.3rem;
}

.book-icon {
  background-color: #337eac;
  width: 2.5rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}
.input-group {
  display: flex;
  margin-left: 1.5rem;
}

.book-icon img {
  width: 1.6rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
}

.input-section {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
}

#taskInput {
  flex: 1;
  padding: 0.6rem;
  border: 1px solid #ddd;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
}

#addTaskButton {
  background-color: #337eac;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-left: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  width: 98%;
}

#addTaskButton:hover {
  background-color: #235d80;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.2rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 73rem;
}

.task-item span {
  flex: 1;
}

.task-item span.completed {
  text-decoration: line-through;
  color: #888;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
.actions {
  display: flex;
  justify-content: space-around;
}
.actions button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding-right: 14.9rem;
  padding-left: 14.9rem;
  margin: 5px 0;
  border-radius: 4px;
  width: 200%;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  height: 1.5rem;
}

.actions button:hover {
  background-color: #e48b94;
}

.filter-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-section button {
  background-color: #337eac;
  color: #fff;
  border: none;
  padding: 0.5rem 10.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.filter-section button:hover {
  background-color: #235d80;
  box-shadow: 0 0.2em 0.4em #7dc4d0;
}
